*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --corfundo: rgb(225, 0, 255);
    --cor1: background-image(pink, magenta, white);
    --corletras: rgb(58, 8, 47);
    --cor2: rgb(243, 167, 239);
    --cor3: rgb(190, 95, 186);
}
h1{
    color: var(--corletras);
    text-align: center;
    padding: 2%;
}
p{
    color: var(--corletras);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 1%;
}
.form{
    position: absolute;
    justify-content: center;
    padding: 10px;
    margin-left: 29%;
    background-color: var(--corfundo);
    border-radius: 10px;
}
.corpoform{
    height: 80vh;
    width: 40vw;
    background-color: var(--cor2);
    display: grid;
    row-gap: 3px;
    padding: 20px;
    justify-items: center;
    border-radius: 10px;
}
label{
    font-weight: bold;
    font-size: 20px;
}
input, select{
    border: 1px solid white;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    outline-color: var(--cor3);
    font-size: 20px;
}

input::placeholder{
    padding: 5px;
    font-size: 20px;
    color: var(--cor3);
}

select{
    font-size: 20px;
    background-color: white;
    outline-color: var(--cor3);
    color: var(--cor3);
}
button{
    border: 1px solid var(--cor3);
    border-radius: 5px;
    height: 50px;
    width: 250px;
    background-color: var(--cor3);
    font-size: 25px;
    font-weight: bold;
}
button:hover{
    background-color: var(1);
}
.gridform{
}
.tabelaform{
    margin-top: 850px;
    margin-left: 30%;
    border-radius: 5px;
    background-color: var(--corletras);
    color: ghostwhite;
}
th{
    padding: 50px;
}
